*{
    margin: 0;
    padding: 0;
}
body{

    background-color: #4885d6;
    font: normal 1rem Arial;
}
header{
    color: white;
    text-align: center;
}
section{
    text-align:justify ;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    max-width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.35);
}
#bt{
    width: 4rem;
    background-color: rgb(0, 0, 0);
    color: #4885d6;
    border-radius: 10px;
}
.txti{
    padding-top: 0.5rem;
    font: normal 0.7rem Arial
}
img {
    width: 60%;
    height: 50vh;
    
    border-radius: 50%;
}
footer{
    padding: 0.5rem;
    color: white;
    text-align: center;
    font-style: italic;
}