*{
    margin: 0;
    padding: 0;
}
body{

    background-color: #39d4da;
    font: normal 1rem Arial;
}
header{
    color: white;
    text-align: center;
}
section{
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    max-width: 450px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.35);
}
select{
    width: 150px;
    margin-top: 10px;
}
img {
    width: 60%;
    height: 50vh;
    
    border-radius: 50%;
}
footer{
    padding: 0.5rem;
    color: white;
    text-align: center;
    font-style: italic;
}